<!-- comment.html -->
{%- capture article_class %}js-comment comment{% if include.name == site.author.name %} admin{% endif %}{% if include.is_reply %} child{% endif %}{% endcapture %}
{% assign comment_id = include.uid | prepend: 'comment-' %}
<article id="{{ comment_id }}" class="{{ article_class }}" uid="{{ include.uid }}">

  <div class="comment__author" style="color: coral;">
    <i class="far fa-user-circle m-1" style="color: black;"></i>
    {{- include.name | strip_html -}},
    <span class="comment__date" style="color: black;">
      {%- if include.date -%}
        <a href="#{{ comment_id}}" title="Permalink to this comment">
        {{- include.date | date:"%B %eth, %Y %H:%M" -}}
        </a>
      {%- endif -%}
    </span>
  </div>

  <div class="comment__body" style="color: rgb(124, 124, 124);">
    {{ include.message | strip_html | markdownify }}
  </div>

{% if include.is_reply %}
</article>
{% else %}
    <div class="comment__meta">
      <a rel="nofollow" class="comment__reply-link" onclick="return addComment.moveForm('{{ comment_id }}', 'respond', '{{ page.slug }}', '{{ include.uid }}')">↪&#xFE0E; Rispondi a <i style="color: rgb(100, 100, 100);">{{ include.name }}</i></a>
    </div>
</article>

  {%- capture this_uid %}{{ include.uid }}{% endcapture %}
  {%- assign replies = site.data.comments[page.slug] | where_exp: 'item', 'item.replying_to_uid == this_uid' %}
  {%- assign replies_date = replies | sort: 'date' %}
  {% for reply in replies_date %}
    {%- assign email       = reply.email -%}
    {%- assign name        = reply.name -%}
    {%- assign url         = reply.url -%}
    {%- assign date        = reply.date -%}
    {%- assign message     = reply.message -%}
    {%- assign uid         = reply._id -%}
    {% include comment.html is_reply=true uid=uid email=email name=name url=url date=date message=message %}
  {% endfor %}

  <hr style="border-top: 1px solid #4d4d4d; background: transparent; margin-bottom: 10px;">
{% endif %}