<!-- Footer -->

<hr>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <a href="/"><h6><img src="/img/corona.png" style="height: 25px; position: center;"> Il Regno della Sintassi</h6></a>
        <p class="text-justify">Il Regno della Sintassi e tutti i suoi personaggi sono opere di fantasia. Ogni riferimento a persone o cose reali è puramente casuale</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6></h6>
        <ul class="footer-links">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="{{ "/about" | relative_url }}">About</a></li>
          <li><a href="{{ "/contact" | relative_url }}">Contact</a></li>
          <li><a href="{{ "/posts" | relative_url }}">Posts</a></li>
          <li><a href="{{ "/croissant" | relative_url }}">Privacy Policy</a></li>
          <li><a href="{{ "/sitemap.xml" | relative_url }}">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; Il Regno della Sintassi {{ 'now' | date: "%Y" }}</p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">

          {% if site.email %}
          <li><a class="email" href="mailto:{{ site.email | encode_email }}"><i class="far fa-envelope"></i></a></li>
          {% endif %}

          {% if site.twitter_username %}
          <li><a class="twitter" href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i></a></li>
          {% endif %}

          {% if site.instagram_username %}
          <li><a class="instagram" href="https://instagram.com/{{ site.instagram_username }}"><i class="fab fa-instagram"></i></a></li>
          {% endif %}

          {% if site.twitch_username %}
          <li><a class="twitch" href="https://www.twitch.tv/{{ site.twitch_username }}"><i class="fab fa-twitch"></i></a></li>
          {% endif %}

          {% if site.youtube_link %}
          <li><a class="youtube" href="{{ site.youtube_link }}"><i class="fab fa-youtube"></i></a></li>
          {% endif %}   
        </ul>
      </div>
    </div>
  </div>
</footer>


