---
layout: default
---

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('img/media/RegnoSintassi.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("img/media/ReTrono_Colorato2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("img/media/mediaval-city.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones *
@media only screen and (max-device-width: 850px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}*/
</style>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}" style="color: black;">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}" style="color: black;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}" style="color: black;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}" style="color: black;">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}" style="color: black;">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle w3-mobile" style="white-space:nowrap;">
    <!-- <span class="w3-center w3-padding-large w3-black w3-large w3-wide w3-animate-opacity"><span class="w3-hide-small">IL </span>REGNO<span class="w3-hide-small"> DELLA</span> SINTASSI</span> -->
    <span class="w3-center w3-padding-large w3-black w3-animate-left"><span class="w3-hide-small">IL </span>REGNO DELLA SINTASSI</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="benvenuto">
  <h3 class="w3-center">BENVENUTO NEL MIO REGNO!</h3>
  <p class="w3-center"><em><!--Versione dev 05--></em></p>
  <p>Benvenuto! Fai come se fossi a casa tua in questo magnifico regno. Qui puoi guardare i miei disegni molto brutti fatti con p a i n t, oppure, puoi guardare i miei blog dove dico cose della mia vita.
    La scelta è tua.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>Il Re della Sintassi</b></p><br>
      <img src="img/media/ReSintassi_avatar.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="230" height="100">
    </div>
  <p>Non sai chi sono? Vai su <a href="/about.html"><i><b>About</b></i></a></p>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>Nel 05/10/2018, a causa di qualche idiota che ha confuso il termine "sintassi" con il "poter scrivere e rispondere a messaggi inviati da un utente" dei bot, è nato il Re Della Sintassi</p>
      <a href="/about.html#story"><b><i>Clicca per continuare a leggere</i></b></a></p>


    </div>
  </div>
</div>


<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">BLOG DELLA SINTASSI</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="blog">
  <h3 class="w3-center">BLOG SINTASSIOSI</h3>
  <p class="w3-center">Ecco una lista dei miei blog</p>


  <div class="w3-row-padding w3-center">
    <div class="row">
      <div class="mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 3 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Old contact,footer,script section-->


</body>

