---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      
      <div class="row">
        
        <div class="col-lg-8 col-md-10 mx-auto">
          
          <div class="post-heading">
            <img src="{{ page.picture | prepend: site.baseurl | replace: '//', '/' }}" class="rounded float-left m-3" alt="" width="20%">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <h2><b>Nome:</b> {{ page.name }}</h2>
        <hr> 

        <h2><b>Cognome:</b> {{ page.surname }}</h2>
        <hr> 

        <h2><b>Sesso:</b> {{ page.gender }}</h2>
        <hr> 

        <h2><b>Età:</b> {{ page.age }}</h2>
        <hr> 

        <h2><b>Voce:</b> 
          <audio controls>
            <source src="{{ page.voice }}" type="audio/mpeg">
          Oops, errore nella riproduzione dell'audio
          </audio>
          {{ page.voice_txt }}
        </h2>
        <hr> 

        <h2><b>Luogo di nascita:</b> {{ page.birthplace }}</h2>
        <hr> 

        <h2><b>Altezza:</b> {{ page.height }}</h2>
        <hr> 

        <h2><b>Peso:</b> {{ page.weight }}</h2>
        <hr>
        
        <h2><b>Hobby:</b> {{ page.hobby }}</h2>
        <hr>

        <h2><b>Abitazione:</b> {{ page.home }}</h2>
        <hr>

        <h2><b>Piace:</b> {{ page.likes }}</h2>
        <hr>

        <h2><b>Non piace:</b> {{ page.dislikes }}</h2>
        <hr>

        <h2><b>Relazioni:</b> {{ page.relation }}</h2>
        <hr>

        <h2><b>Credenze:</b> {{ page.credenze }}</h2>
        <hr>

        {{ content }}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>

  <div class="container" id="comments">
    {% if page.comments == true %}
      {% include comments.html %}
    {% endif %}
  </div>

</header>